.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;

}
.logo{
    height: 70px;
    width: 80px;
}
.nav-menu{
    display: flex;align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #bf1212 0%, #ce39ec 100%);
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.anchor-link{
    color: white;
}
